[submodule "Common"]
	path = Common
	url = https://github.com/xen22/Common.git
[submodule "SolarMonitorApi"]
	path = SolarMonitorApi
	url = https://github.com/xen22/SolarMonitorApi.git
[submodule "Infrastructure"]
	path = Infrastructure
	url = https://github.com/xen22/Infrastructure.git
[submodule "AuthService"]
	path = AuthService
	url = https://github.com/xen22/AuthService.git
